@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    /* Colours */
    font-size: 16px;
    --dark: #1E1E1E;
    --grey: #a5a5a5;
    --white: #ffffff;
    --correct: #10b924;
    --close: #edd922;
    --invalid: #d40000;
    scroll-behavior: smooth;
    font-family: 'Pixelify Sans', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1 {
    margin: 2.5% 0 0;
    text-align: center;
    font-size: clamp(36px, 5vw, 62px); 
}

p {

}

main {

}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
    background-image: url("../image/wordgame-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* Large rounded green border */
hr.line {
    border: 1px solid var(--dark);
    width: 20rem;
    border-radius: 5px;
    margin: 1.5% 0 1%;
}

.loading {
    visibility: hidden;
}

.show {
    visibility: visible;
    opacity: 1 !important;
}

.grid-wrap {
    margin: 0 auto;
    max-width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
}

.letter {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.15rem solid var(--grey);
    transition: 200ms ease;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: var(--white);
    font-family: 'Lilita One', cursive;
}

.letter:active {
    border: 0.25rem solid var(--dark);
}

.highlighted {
    border: 0.25rem solid var(--dark);
}

.correct {
    background-color: var(--correct);
    color: var(--white);
}

.close {
    background-color: var(--close);
    color: var(--white);
}

.wrong{
    background-color: var(--grey);
    color: var(--white);
}

#lottie-animation {
    height: 50px;
    width: 50px;
}

#message {
    font-family: 'Lilita One', cursive;
    font-size: clamp(16px, 2.5vw, 22px); 
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reload {
    padding: 0.75rem 1.5rem;
    opacity: 0;
    transition: 500ms ease;
    margin-top: 1rem;
    background-color: var(--correct);
    color: var(--white);
    border-radius: 0.25rem;
    font-family: 'Lilita One', cursive;
    font-size: clamp(16px, 2.5vw, 22px); 
}

.reload:hover {
    background-color: var(--grey);
    color: var(--dark);
    font-family: 'Lilita One', cursive;
}

.invalid {
    animation: flash 1s;
}

.fade {
    animation: fade 3s;
}
/* Initial styles for the text */
.winner-text {
    color: black;
    animation: winner 500ms infinite alternate;
}

@keyframes flash {
    5% {
        border-color: var(--invalid);
    }
    100% {
        border-color: var(--grey);
    }
}

@keyframes fade {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Define the keyframes for the flash animation */
@keyframes winner {
    0% {
        color: var(--correct);
    }
    100% {
        color: var(--close);
    }
}