:root {
    /* Colours */
    font-size: 16px;
    --dark: #1E1E1E;
    --grey: #a5a5a5;
    --white: #ffffff;
    --correct: #10b924;
    --close: #edd922;
    --invalid: #d40000;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lilita One', cursive;
    box-sizing: border-box;
}

h1 {
    margin: 2.5% 0;
}

p {

}

main {

}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}

.loading {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.grid-wrap {
    margin: 0 auto;
    max-width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
}

.letter {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.25rem solid var(--grey);
    transition: 200ms ease;
    font-size: 26px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.letter:active {
    border: 0.25rem solid var(--dark);
}

.highlighted {
    border: 0.25rem solid var(--dark);
}

.correct {
    background-color: var(--correct);
    color: var(--white);
}

.close {
    background-color: var(--close);
    color: var(--white);
}

.wrong{
    background-color: var(--grey);
    color: var(--white);
}

.invalid {
    animation: flash 1s ease;
}

#lottie-animation {
    height: 50px;
    width: 50px;
}

@keyframes flash {
    5% {
        border-color: var(--invalid);
    }
    100% {
        border-color: var(--grey);
    }
}