* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/images/background.jpg");
    background-position: center;
    background-size: cover;
}

.grid-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    margin: 0 auto;
    grid-gap: 0.5rem;
    text-align: center;
}

.flip-card {
    height: 11vw;
    width: 8vw;
    max-height: 151px;
    max-width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    cursor: pointer;
    transition: 200ms ease;
}

.flip-card:hover {
    transform: scale(1.01);
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

.flip-card .flip-card-inner.flipped {
    transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.flip-card-front {
    background-color: #ccc;
    background-image: url("../images/card-back/back.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.flip-card-back {
    background-color: #f1f1f1;
    transform: rotateY(180deg);
    background-position: center;
    background-size: contain;
}

.card_id {
    visibility: hidden;
}
