@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Monomaniac+One&display=swap');

:root {
    font-size: 16px;
    --primary: #FFA202;
    --black: #1E1E1E;
    --white: #ffffff;
    font-family: 'Lilita One', cursive;
    scroll-behavior: smooth;
}

html,body {
}

* {
    padding: 0;
    margin: 0;
}

/* Utility Classes */
.shadow {
    box-shadow: 0 15px 30px rgba(0, 0, 0 ,0.10);
}

/* Text */

h1.title {
    font-size: clamp(26px, 2.5vw, 62px); 
}

p{
    font-size: clamp(16px, 2.5vw, 22px); 
    font-family: 'Monomaniac One', sans-serif;
    margin: 10% 0;
}

p.text {
    margin: 5% 0;
    max-width: 50rem;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Naviagation */

nav {
    width: 80%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.menu-btn {
    width: 55px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-bar {
    height: 5px;
    width: 100%;
    background-color: var(--black);
    border-radius: 10px;
}

.logo {
    display: flex;
}

.logo-img {
    width: 50px;
    margin-right: 10px;
}

.logo-text {
    font-size: 26px; 
}

/* Main */

main {
    min-height: 500px;
    background-image: url("./images/images/doggo_bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section {
    width: 80%;
    margin: 0 auto;
}

section#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-wrap {
    width: 40%;
}

.right-wrap {
    width: 60%;
}

.text-wrap {

}

.main-image-wrap {

}

.main-img {
    position: relative;
    left: -10%;
    width: 120%;
}

button {
    padding: 0.75rem 2rem;
    border-radius: 50px;
    background-color: var(--primary);
    font-family: 'Lilita One', cursive;
    font-size: clamp(16px, 2.5vw, 22px); 
    cursor: pointer;
}

button:hover {

}

.add-btn {
    display: flex;
    align-items: center;
}

.finish-btn {
    display: flex;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
}

.plus-icon-wrap {
    padding: 5px;
    border: 3px solid var(--black);
    background-color: var(--white);
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/icons/addicon.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.stop-icon-wrap {
    border-radius: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/icons/stopicon.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}

/* Info Graphic */

.info-graphic {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}
.step-wrap {
    background-color: var(--primary);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.step-number-wrap {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius: 1.25rem;
}

.step-number {

}
.step-img-wrap {
    /* background-image: url("./images/steps/step-blob.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    width: 70%;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-img{
    width: auto;
    min-height: 10vw;
    max-width: 100%;
}

.info-text {
    text-align: center;
    margin: 10%;
}


/* Gallery */

.gallery-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: var(--white);
}

section#gallery {
    padding: 10%;
}

#grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem; /* Adjust the gap as needed */
}


.img-wrap {
    height: 30rem;
    position: relative;
    padding: 1rem;
}

.dog-img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    border-radius: 40px;
    border: 1rem solid var(--white);
}

.img-bg {
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    position: absolute;
    transform: rotate(-7deg);
    top: 1rem;
    left: 1rem;
    border-radius: 40px;
}

.count-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
